<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="homePage">
      <h1 style="font-size: 3rem; margin:15px 0">Assignments</h1>
      <div id="table-wrapper">
        <div id="table-scroll">
          <table>
            <thead>
              <tr style="font-size:1.4rem">
                <th>Assignments</th>
                <th>Score</th>
                <th>Total</th>
                <th>Completed</th>
                <th>Actions</th>
              </tr>
            </thead>
            {{#each assignments}}
              <tbody>
                <tr style="font-size:1.7rem; font-weight:900;">
                  <td>{{name}}</td>
                  <td style="text-align: center;">{{score}}</td>
                  <td style="text-align: center;">{{total}}</td>
                  <td style="text-align: center;">{{completed}}</td>
                  <td><a href="/delete/{{name}}">Delete</a>{{delete}}</td>
                </tr>
              </tbody>
            {{/each}}
          </table>
        </div>
      </div>
      <h2 class="overAll">Overall Average: {{averageofAll}}% </h2>
      <div class="assAssignment">
        <a class="addAssgn" href="/addAssignment">Add an Assignment</a>
      </div>
    </div>
  </body>
</html>